:root {
  --text: #ffffff;

  --public-sans: 'Public Sans', sans-serif;
}
html {
  max-width: 100vw;
  font-family: var(--public-sans);
}
main {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}